{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/person_detail.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/person.js' %}"></script>
{% endblock %} {% block title %}VLA | Détail du membre{% endblock %} {% block content %}
<main>
  <h1>
    <a href="{% url 'persons' %}"
      ><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"
    /></a>
    <span>Détail du membre de l'assemblée</span>
  </h1>

  <section>
    <article>
      <div>
        <span>Prénom :</span>
        <span>{{person.firstname}}</span>
      </div>

      <div>
        <span>Nom :</span>
        <span>{{person.lastname|upper}}</span>
      </div>

      <div>
        <span>Groupe :</span>
        <span>{{person.group}}</span>
      </div>

      <div>
        <span>Statut :</span>
        <span>{{person.get_cong_status_display}}</span>
      </div>

      <div>
        <span>Fonction :</span>
        <span>{{person.get_cong_function_display}}</span>
      </div>

      <div>
        <span>Rôles :</span>

        <ul>
          {% for role in role_display_list %}
          <li>{{ role }}</li>
          {% endfor %}
        </ul>
      </div>
    </article>

    <article>
      {% if person.gender == 'MALE' %}
      <img src="{% static 'icons/male_icon.png' %}" alt="male" />
      {% elif person.gender == 'FEMALE' %}
      <img src="{% static 'icons/female_icon.png' %}" alt="female" />
      {% endif %}
    </article>

    <article class="actions">
      <a href="{% url 'person_detail_edit' person.pk %}">Modifier</a>
      <a href="#">Supprimer</a>
    </article>
  </section>
</main>
{% endblock %}
