{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/persons.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/persons.js' %}"></script>
{% endblock %} {% block title %}VLA | Membres{% endblock %} {% block content %}
<main>
  <h1>{{count}} membre{% if count > 1 %}s{% endif %}</h1>

  <a href="{% url 'new_person' %}">Créer un nouveau membre</a>

  <section>
    {% for person in persons %}
    <a href="{% url 'person_detail' person.pk %}">
      <span
        title="{{person.get_cong_status_display}}"
        class="{{person.cong_status}} {{person.cong_function}}"
        >{{person.firstname}}<br />{{person.lastname|upper}}<br />({{person.group}})</span
      >
    </a>
    {% empty %}
    <div>Aucun membre trouvé.</div>
    {% endfor %}
  </section>
</main>
{% endblock %}
