{% extends 'vla_django/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/vcm.css' %}">
{% endblock %}

{% block script_js %}
<script src="{% static 'js/vcm.js' %}"></script>
{% endblock %}

{% block title %}VLA | VCM{% endblock %}

{% block content %}
<main>
  <section>
    <h1>Vie chrétienne et Ministère</h1>

    {% block meeting %}{% endblock %}

    <article class="meeting">
      <div class="president">
        <span>Mardi 29 octobre 2024 | Ps. 103-104</span>
        <span>Président : Jacques DUMITRAN</span>
      </div>

      <div class="song">Cantique N°30</div>

      <div class="prayer">Prière initiale : Bruno DI RICO</div>

      <div class="jewels">
        <span>1. Joyaux : Serge RERA</span>
        <span>"Il se souvient que nous sommes poussière"</span>
      </div>

      <div class="pearls">
        <span>2. Perles spirituelles : Mehdi REMAL</span>
        <span></span>
      </div>

      <h2>Ecole du Ministère Théocratique</h2>

      <h3>Salle principale</h3>

      <div class="allocution reading1">
        <span>3. Lecture</span>
        <span>Luigi CATANIA</span>  
      </div>

      <div class="allocution allocution1">
        <span>4. Premier contact</span>
        <span>Jonathan BOUCARDEY | Martin HUMBRECHT</span>  
      </div>

      <div class="allocution allocution2">
        <span>5. Nouvelle visite</span>
        <span>Jade GRAFF | Delphine GRAFF</span>  
      </div>

      <div class="allocution allocution3">
        <span>6. Discours</span>
        <span>Richard BONNEZ</span>  
      </div>

      <h3>Salle complémentaire</h3>

      <div class="advisor2">Conseiller : Robert FARRE</div>

      <div class="allocution reading1">
        <span>3. Lecture</span>
        <span>Patrick ROCHE</span>  
      </div>

      <div class="allocution allocution1">
        <span>4. Premier contact</span>
        <span>Armelle THILLEROT | Sonia AUGUSTIN</span>  
      </div>

      <div class="allocution allocution2">
        <span>5. Nouvelle visite</span>
        <span>Sara NGUYEN | Elisabeth PIGUET</span>  
      </div>

      <div class="allocution allocution3">
        <span>6. Discours</span>
        <span>Lionel VIALA</span>  
      </div>

      <h3>Salle C</h3>

      <div class="advisor2">Conseiller : Bruno DI RICO</div>

      <div class="allocution reading1">
        <span>3. Lecture</span>
        <span>Brian NGUYEN</span>  
      </div>

      <div class="allocution allocution3">
        <span>6. Discours</span>
        <span>Serge ROCHE</span>
      </div>

      <div class="song">Cantique N°44</div>

      <section class="vcm">
        <div>
          <span>7. Vie chrétienne : Quentin FABRY</span>
          <span>Connais-tu tes limites ?</span>
        </div>

        <div class="eba">
          <span>8. Etude biblique de l'assemblée</span>
          <span>Salvatore MOSCATIELLO | Lecteur : Robert FARRE</span>
        </div>
      </section>
        
      <div class="song">Cantique N°55</div>

      <div class="prayer">Prière finale : Olivier RIVET</div>
    </article>

    <article class="welcome">
      <h3>ACCUEIL</h3>
      <div class="parking">Parking : Eric NOWAK</div>
      <div class="parking">Entrée : José PEREZ</div>
      <div class="parking">Auditorium : Yann DELMAS</div>
    </article>

    <article class="sono">
      <h3>SONORISATION</h3>
      <div>Estrade : Serge BOUTET</div>
      <div>Audio : Olivier FRISSON</div>
      <div>Vidéo : Valentin THELIER</div>
      <div>Perche 1 : José MARTINEZ</div>
      <div>Perche 2 : Cédric VEYSSIERE</div>
    </article>
</main>
{% endblock %}
