{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/vcm.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/vcm.js' %}"></script>
{% endblock %} {% block title %}VLA | VCM{% endblock %} {% block content %}
<main>
  <h1>Vie chrétienne et Ministère</h1>

  <a href="{% url 'new_vcm_meeting' %}">Créer une nouvelle réunion</a>

  <section class="meeting-list">
    {% for meeting in meetings %}
    <article>
      <a href="{% url 'vcm-detail' meeting.pk %}"
        >Semaine du {{meeting.date}}</a
      >
    </article>
    {% endfor %}
  </section>
</main>
{% endblock %}
