{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/new_vcm.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/new_vcm.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Nouvelle réunion VCM{% endblock %} {% block content %}
<main>
  <h1>
    <a href="{% url 'vcm' %}"
      ><img src="{% static 'icons/left_arrow.png' %}" alt="Retour VCM"
    /></a>
    
    <span>
      {% if big_title %}
      {{big_title}}
      {% else %}
      Créer une nouvelle réunion
      {% endif %}
    </span>

    <span>
      {% if small_title %}
      {{small_title}}
      {% else %}
      Nouvelle réunion
      {% endif %}
    </span>
  </h1>

  <form method="POST">
    {% csrf_token %}
    <section>
      <div>{{ form.date.label_tag }} {{ form.date }}</div>

      <div>{{form.president.label_tag}} {{form.president}}</div>

      <div>{{form.prayer1.label_tag}} {{form.prayer1}}</div>

      <div>{{form.prayer2.label_tag}} {{form.prayer2}}</div>

      <div class="songs">
        <h4>Cantiques</h4>

        <div>
          <span>{{form.song1}}</span>
          <span>{{form.song2}}</span>
          <span>{{form.song3}}</span>
        </div>
      </div>

      <div>{{form.portion.label_tag}} {{form.portion}}</div>

      <div>{{form.jewels.label_tag}} {{form.jewels}}</div>

      <div>{{form.jewels_title.label_tag}} {{form.jewels_title}}</div>

      <div>{{form.pearls.label_tag}} {{form.pearls}}</div>
    </section>

    <h2>Applique-toi au ministère</h2>

    <section class="datas">
      <article>
        <h4>Sujet 1</h4>

        <div>{{form.alloc1_type.label_tag}} {{form.alloc1_type}}</div>

        <div>{{form.alloc1_duration.label_tag}} {{form.alloc1_duration}}</div>
      </article>

      <article>
        <h4>Sujet 2</h4>

        <div>{{form.alloc2_type.label_tag}} {{form.alloc2_type}}</div>

        <div>{{form.alloc2_duration.label_tag}} {{form.alloc2_duration}}</div>
      </article>

      <article>
        <h4>Sujet 3</h4>

        <div>{{form.alloc3_type.label_tag}} {{form.alloc3_type}}</div>

        <div>{{form.alloc3_duration.label_tag}} {{form.alloc3_duration}}</div>
      </article>

      <article>
        <h4>Sujet 4</h4>

        <div>{{form.alloc4_type.label_tag}} {{form.alloc4_type}}</div>

        <div>{{form.alloc4_duration.label_tag}} {{form.alloc4_duration}}</div>
      </article>
    </section>

    <section class="ministry">
      <h3>Salle principale</h3>

      <div class="school">
        <div>{{form.reading1.label_tag}} {{form.reading1}}</div>
      </div>

      <div class="school">
        <div>
          {{form.alloc1pupil_hall1.label_tag}} {{form.alloc1pupil_hall1}}
        </div>

        <div>
          {{form.alloc1inter_hall1.label_tag}} {{form.alloc1inter_hall1}}
        </div>
      </div>

      <div class="school">
        <div>
          {{form.alloc2pupil_hall1.label_tag}} {{form.alloc2pupil_hall1}}
        </div>

        <div>
          {{form.alloc2inter_hall1.label_tag}} {{form.alloc2inter_hall1}}
        </div>
      </div>

      <div class="school">
        <div>
          {{form.alloc3pupil_hall1.label_tag}} {{form.alloc3pupil_hall1}}
        </div>

        <div>
          {{form.alloc3inter_hall1.label_tag}} {{form.alloc3inter_hall1}}
        </div>
      </div>

      <div class="school">
        <div>
          {{form.alloc4pupil_hall1.label_tag}} {{form.alloc4pupil_hall1}}
        </div>

        <div>
          {{form.alloc4inter_hall1.label_tag}} {{form.alloc4inter_hall1}}
        </div>
      </div>
    </section>

    <section class="ministry">
      <h3>Salle complémentaire</h3>

      <div>{{form.advisor2.label_tag}} {{form.advisor2}}</div>

      <div class="school">
        <div>{{form.reading2.label_tag}} {{form.reading2}}</div>
      </div>

      <div class="school">
        <div>
          {{form.alloc1pupil_hall2.label_tag}} {{form.alloc1pupil_hall2}}
        </div>

        <div>
          {{form.alloc1inter_hall2.label_tag}} {{form.alloc1inter_hall2}}
        </div>
      </div>

      <div class="school">
        <div>
          {{form.alloc2pupil_hall2.label_tag}} {{form.alloc2pupil_hall2}}
        </div>

        <div>
          {{form.alloc2inter_hall2.label_tag}} {{form.alloc2inter_hall2}}
        </div>
      </div>

      <div class="school">
        <div>
          {{form.alloc3pupil_hall2.label_tag}} {{form.alloc3pupil_hall2}}
        </div>

        <div>
          {{form.alloc3inter_hall2.label_tag}} {{form.alloc3inter_hall2}}
        </div>
      </div>

      <div class="school">
        <div>
          {{form.alloc4pupil_hall2.label_tag}} {{form.alloc4pupil_hall2}}
        </div>

        <div>
          {{form.alloc4inter_hall2.label_tag}} {{form.alloc4inter_hall2}}
        </div>
      </div>
    </section>

    <section class="ministry">
      <h3>Salle C</h3>

      <div>{{form.advisor3.label_tag}} {{form.advisor3}}</div>

      <div class="school">
        <div>{{form.reading3.label_tag}} {{form.reading3}}</div>

        <div>
          {{form.pupil_hall3.label_tag}} {{form.pupil_hall3}}
        </div>

        <div class="discuss">
          <h4>Discussion</h4>
          {{form.pupil0_hall3.label_tag}} {{form.pupil0_hall3}}
          {{form.inter0_hall3.label_tag}} {{form.inter0_hall3}}
        </div>
      </div>
    </section>

    <h2>Vie Chrétienne</h2>

    <section class="vcm">
      <article>
        <h4>Sujet 1</h4>

        <div>{{form.vcm1_duration.label_tag}} {{form.vcm1_duration}}</div>

        <div>{{form.vcm1.label_tag}} {{form.vcm1}}</div>

        <div>{{form.vcm1_title.label_tag}} {{form.vcm1_title}}</div>
      </article>

      <article>
        <h4>Sujet 2</h4>

        <div>{{form.vcm2_duration.label_tag}} {{form.vcm2_duration}}</div>

        <div>{{form.vcm2.label_tag}} {{form.vcm2}}</div>

        <div>{{form.vcm2_title.label_tag}} {{form.vcm2_title}}</div>
      </article>
    </section>

    <section class="eba">
      <article>
        <div>{{form.eba.label_tag}} {{form.eba}}</div>

        <div>{{form.eba_reader.label_tag}} {{form.eba_reader}}</div>
      </article>

      <article>
        <div>{{form.supervisor.label_tag}} {{form.supervisor}}</div>

        <div>{{form.special_speech.label_tag}} {{form.special_speech}}</div>
      </article>
    </section>

    {% if form.non_field_errors %}
    <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}

    <button type="submit">
      {% if submit_text %}
      {{submit_text}}
      {% else %}
      Enregistrer
      {% endif %}
    </button>
  </form>

  {% comment %}
  <div class="errors">
    <h4>Erreurs</h4>
    
    <ul>
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endcomment %}
</main>
{% endblock %}
