{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/publications.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/publications.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Publications{% endblock %} {% block content %}

<main>
  <h1>Publications</h1>

  <section>
    <a href="{% url 'publication_new' %}">Créer une nouvelle publication</a>

    <section>
      {% for pub in publications %}
      <article>
        <div>{{pub.name}}</div>
        <div>
          <a
            href="{% url 'publication_update' pub.pk %}"
            title="Modifier {{pub.name}}"
            >✏️</a
          >
          <form
            action="{% url 'publication_delete' pub.pk %}"
            title="Supprimer {{pub.name}}"
            method="POST"
          >
            {% csrf_token %}
            <button type="submit">❌</button>
          </form>
        </div>
      </article>
      {% endfor %}
    </section>
  </section>

  <section>
    <a href="{% url 'command_new' %}">Créer une nouvelle commande</a>

    <section>
      {% for person in persons %}
      <div>
        <span>{{person.fullname}}</span>
        <span>{{person.group}}</span>
        <span>Publications...</span>
      </div>
      {% endfor %}
    </section>
  </section>
</main>
{% endblock %}
