{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/publications.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/publications.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Publications{% endblock %} {% block content %}

<main>
  <h1>Publications</h1>

  <section>
    <a href="{% url 'publication_new' %}">Créer une nouvelle publication</a>

    <div class="publications">
      {% for pub in publications %}
      <article>
        <div>{{pub.name}} ({{pub.total_quantity|default:0}})</div>
        <div>
          <a
            href="{% url 'publication_update' pub.pk %}"
            title="Modifier {{pub.name}}"
            >✏️</a
          >
          <form
            action="{% url 'publication_delete' pub.pk %}"
            title="Supprimer {{pub.name}}"
            method="POST"
          >
            {% csrf_token %}
            <button type="submit">❌</button>
          </form>
        </div>
      </article>
      {% endfor %}
    </div>
  </section>

  <section>
    <a href="{% url 'command_new' %}">Créer une nouvelle commande</a>

    {% comment %}
    <section>
      {% for person in persons %}
      <div>
        <span>{{person.fullname}}</span>
        <span>{{person.group}}</span>
        <span>Publications...</span>
      </div>
      {% endfor %}
    </section>
    {% endcomment %}

    <div class="commands">
      <a href="{% url 'commands' %}">Liste des commandes</a>
    
      {% for data in persons %}
        {% if data.commands %}
        <article>
          <div>
            <span class="bold">{{ data.person.fullname }}</span>
            <span>({{ data.person.group.name }})</span>
          </div>
    
          <div>
            {% for command in data.commands %}
            <span>{{ command.quantity }} x {{ command.publication.name }}</span>
            {% endfor %}
          </div>
        </article>
        {% endif %}
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
