@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary3);
}

main {
    background-color: var(--color-quinary3);
    @include flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 3em;

    h1 {
        @include h1-form;
    }

    >a {
        @include button;
    }
}

form {
    width: clamp(300px, 70%, 700px);
    @include flexcolumn;
    gap: 1em;

    h2 {
        text-align: center;
        margin: 1em 0 .5em 0;
        font-size: 30px;
    }

    section {
        @include border;
        @include flexcolumn;
        gap: 10px;
        padding: 1em;
        background-color: rgba(white, .2);

        @media (width<=768px) {
            width: 80vw;
        }

        h3 {
            width: auto;
            padding: .5em 2em;
            text-align: center;
            margin-bottom: 1em;
            font-size: 22px;
            border: 1px solid white;
        }

        div {
            @include flexcolumn;
            gap: 5px;
        }

        label {
            text-indent: 3em;
        }

        input,
        select {
            width: calc(90% - 20px);
            padding: 10px;
            @include no-border;
            transition: 300ms all ease;

            &:focus {
                transition: 150ms all ease;
                box-shadow: 0 0 10px var(--color-primary2), 0 0 10px var(--color-primary2);
            }
        }
    }

    button {
        @include submit;
    }
}

.commands {
    @include flexcolumn;
    gap: 5px;

    div {
        padding: 5px;
        background-color: rgba(white, .4);
        @include flex;
        justify-content: center;
        $depth: 2px;
        $k: 80;
        box-shadow: $depth $depth 5px rgb($k, $k, $k);
        transition: 200ms all ease;

        &:hover {
            transition: 80ms all ease;
            background-color: rgba(white, .8);
            box-shadow: none;
            transform: translateY($depth);
        }

        // &:active {
        //     transition: 150ms all ease;
        //     background-color: rgb(141, 231, 141);
        //     box-shadow: none;
        //     transform: translateY($depth) scale(1.2);
        // }

        span {
            width: 46%;

            &:last-child {
                width: auto;
                @include flex;
                justify-content: center;
                gap: 10px;

                a,
                form {
                    text-decoration: none;
                    width: 30px;
                }

                a,
                form button {
                    font-size: 18px;
                }

                form {
                    button {
                        width: auto;
                        padding: 0;
                        @include no-border;
                        background-color: transparent;
                        box-shadow: none;
                        transition: none;
                        transform: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.actions {
    @include flex;
    justify-content: center;
    gap: 2em;

    div {
        @include border;
        @include flex;
        justify-content: center;
        text-align: center;
        width: clamp(300px, 30%, 400px);
        height: 3em;
        background-color: rgba(white, .4);
        overflow: hidden;
        transition: 200ms all ease;
        
        span {
            font-size: 18px;
            transition: 200ms all ease;
        }

        &:hover {
            transition: 80ms all ease;
            $depth: 2px;
            $k: 80;
            box-shadow: inset $depth $depth 5px rgb($k, $k, $k);
            
            span {
                transition: 80ms all ease;
                transform: translateY(-$depth);
            }
        }
        
        &:active {
            background-color: rgb(159, 231, 159);
        }
    }

}

.com-active {
    color: red;
    background-color: white !important;
}