@import 'mixins.scss';
@import 'constants.scss';

main {
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;
}

nav,
footer {
    background-color: var(--color-primary-gray);
}

main {
    background-color: var(--color-quaternary-gray);
    @include flexcolumn;
    gap: 3em;

    h1 {
        @include white-neon;
    }

    >a {
        @include button;
    }
}

.communications {
    width: clamp(300px, 80%, 800px);
    @include flexcolumn;
    gap: 1em;

    article {
        background-color: rgba(white, .4);
        border-radius: 20px;
        @include flexcolumn;
        gap: 1em;
        $k: 80;
        box-shadow: 3px 3px 5px rgb($k, $k, $k);
        padding: 1em;

        h3 {
            text-align: center;
            @include flex;
            justify-content: space-between;

            div {
                width: auto;
                @include flex;
                gap: 5px;

                span {
                    width: auto;
                }

                &:first-child {
                    justify-content: flex-start;

                    span {
                        width: auto;

                        &:nth-child(2) {
                            color: #bb1616;
                        }
                    }
                }

                &:nth-child(2) {
                    justify-content: flex-end;

                    a,
                    form {
                        width: 45px;
                        @include flex;
                        justify-content: center;
                        aspect-ratio: 1;
                        background-color: rgba(white, .5);
                        border-radius: 50%;
                        $padding: 3px;
                        $k: 100;
                        box-shadow: $padding $padding 5px rgb($k, $k, $k);
                        transition: 300ms all ease;

                        &:hover {
                            transition: 150ms all ease;
                            box-shadow: none;
                            transform: translateY($padding);
                        }
                    }
                }
            }
        }

        div {
            @include flexcolumn;
            gap: 1em;

            p,
            a {
                text-align: justify;
                text-indent: 0;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

.communication-delete {
    button {
        @include no-border;
        background-color: transparent;
    }
}