@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary3);
}

main {
    background-color: var(--color-quinary3);
    @include flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 3em;

    >a {
        @include button;
    }
}

#group_names {
    width: clamp(300px, 90%, 1100px);
    list-style: none;
    @include flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    @media (width<=830px) {
        width: 90vw;
    }

    li {
        width: clamp(150px, 25%, 200px);
        background-color: rgba(white, .3);
        padding: 10px 30px;
        $k: 100;
        $padding: 4px;
        box-shadow: $padding $padding 5px rgb($k, $k, $k);
        transition: 300ms all ease;
        @include flex;
        justify-content: space-between;

        @media (width<=830px) {
            width: clamp(250px, 30vw, 700px);
            height: 3em;
        }

        &:hover {
            transition: 150ms all ease;
            box-shadow: none;
            transform: translateY($padding);
            background-color: rgba(white, .4);
        }

        div {
            &:first-child {
                width: 90%;
            }

            &:nth-child(2) {
                width: auto;
                @include flex;
                gap: 10px;

                a {
                    text-decoration: none;
                    font-size: 16px;
                }
                
                form {
                    button {
                        @include no-border;
                        background-color: transparent;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.names {
    width: clamp(300px, 90%, 1000px);
    min-height: 5em;
    @include flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    a {
        text-decoration: none;
        color: inherit;
        $size: 6em;
        width: $size;
        height: $size;
        border-radius: 50%;
        @include flexcolumn;
        align-items: center;
        justify-content: center;
        background-color: rgba(white, .5);
        $padding: 4px;
        $k: 80;
        box-shadow: $padding $padding 5px rgb($k, $k, $k);
        transition: 300ms all ease;

        &:hover {
            transition: 70ms all ease;
            background-color: rgba(white, .9);
            box-shadow: none;
            transform: translateY($padding);

        }

        span {
            width: auto;
            text-align: center;
            font-size: 14px;

            img {
                width: 20px;
            }
        }
    }
}

.responsable {
    color: red;
}

.adjoint {
    color: blue;
}

.active-group {
    color: rgb(155, 24, 24) !important;
    background-color: rgba(white, .7) !important;
}

