@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary1);
}

main {
    background-color: var(--color-secondary1);
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;

}