@import 'mixins.scss';
@import 'constants.scss';

main {
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;
}

nav,
footer {
    background-color: var(--color-primary1);
}

main {
    background-color: var(--color-secondary1);

    h1 {
        font-size: 40px;
        margin: 1em 0;
        animation: 1500ms slideDown ease-out forwards;
    }
}