@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  --height: 4em;
  --padding: 1em;
  --color-primary1: #1d2d44;
  --color-secondary1: #34507a;
  --color-tertiary1: #4b74af;
  --color-quaternary1: #7e9dc8;
  --color-quinary1: #b4c6df;
  --color-senary1: #800000;
  --color-primary2: #935c25;
  --color-secondary2: #cd8238;
  --color-tertiary2: #dca975;
  --color-quaternary2: #eccfb2;
  --color-quinary2: #fbf5ef;
  --color-primary3: #2a6a1e;
  --color-secondary3: #42a62f;
  --color-tertiary3: #66ce53;
  --color-quaternary3: #9bdf8e;
  --color-quinary3: #d0f0ca;
  --color-primary-gray: #5a5a5a;
  --color-secondary-gray: gray;
  --color-tertiary-gray: #a7a7a7;
  --color-quaternary-gray: #cdcdcd;
  --color-quinary-gray: #f3f3f3;
  --hover: #ffcc7e;
  --active: #fca626;
  --smallActive: red;
  --anton: "Anton", sans-serif;
  --archivo: "Archivo", sans-serif;
  --archivoBlack: "Archivo Black", sans-serif;
  --baloo: "Baloo Paaji 2", sans-serif;
  --comfortaa: "Comfortaa", sans-serif;
  --comicneue: "Comic Neue", cursive;
  --dmsans: "DM Sans", sans-serif;
  --gaMaamli: "Ga Maamli", sans-serif;
  --jersey: "Jersey 10", sans-serif;
  --jost: "Jost", sans-serif;
  --macondo: "Macondo", cursive;
  --matemasie: "Matemasie", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --pacifico: "Pacifico", cursive;
  --playRightArgentina: "Playwrite AR", cursive;
  --playwritHU: "Playwrite HU", cursive;
  --poppins: "Poppins", sans-serif;
  --quickSand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --rubik: "Rubik", sans-serif;
  --rajdhani: "Rajdhani", sans-serif;
  --sacramento: "Sacramento", cursive;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 3em;
}

nav,
footer {
  background-color: var(--color-primary-gray);
}

main {
  background-color: var(--color-quaternary-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
main h1 {
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
}
main section {
  width: clamp(300px, 90%, 1000px) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (width <= 768px) {
  main section {
    flex-direction: column;
  }
}

#visit {
  position: fixed;
  z-index: 10;
  bottom: calc(var(--height) + 2em);
  right: 2em;
  width: 100px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (width <= 768px) {
  #visit {
    bottom: 2em;
    width: 80px;
  }
}
#visit img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgb(50, 50, 50);
  transition: 300ms all ease;
}
#visit img:hover {
  transition: 150ms all ease;
  box-shadow: none;
  transform: translateY(4px);
}

.pic-link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  aspect-ratio: 3/2;
  overflow: hidden;
  animation: slideUp 800ms forwards;
}
.pic-link * {
  position: absolute;
}
.pic-link img {
  height: 100%;
  width: auto;
}
.pic-link span {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.2em 1.5em;
  animation: 1.5s slideRight forwards;
  transition: 300ms all ease;
}
.pic-link span:hover {
  transition: 150ms all ease;
  background-color: white;
}

.datas {
  width: 90vw !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  gap: 2em;
}
@media (width <= 768px) {
  .datas {
    flex-direction: column;
  }
}
.datas div,
.datas > ul {
  width: clamp(300px, 30%, 600px);
}

#schedules {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#schedules * {
  text-align: right;
}
@media (width <= 768px) {
  #schedules * {
    text-align: center;
  }
}
#schedules h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#schedules ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#schedules ul li {
  font-size: 1.1rem;
}

#details {
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 5px;
}
#details li {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#details li * {
  width: auto;
  font-size: 1.1rem;
}
#details li span {
  white-space: nowrap;
}
#details li a {
  text-decoration: none;
  color: var(--color-primary-gray);
  transition: 300ms all ease;
}
#details li a:hover {
  transition: 150ms all ease;
  color: var(--hover);
  color: var(--color-secondary-gray);
}

@media (width <= 768px) {
  #schedules,
  #details {
    width: 80%;
  }
}

#communication {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
}
#communication h2 {
  width: auto;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.4em 3em;
  text-align: center;
}
@media (width <= 768px) {
  #communication h2 {
    width: 80%;
    padding: 0.3em;
    font-size: 30px;
  }
}

#com-content {
  width: clamp(300px, 70vw, 900px);
  min-height: 10em;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
#com-content article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
#com-content article h3 {
  font-size: 25px;
}/*# sourceMappingURL=homepage.css.map */