@import 'mixins.scss';
@import 'constants.scss';

main {
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;
}

nav,
footer {
    background-color: var(--color-primary-gray);
}

main {
    background-color: var(--color-quaternary-gray);
    @include flexcolumn;
    gap: 1em;

    h1 {
        @include red-neon;
        color: white;
        font-weight: 400;
    }

    section {
        width: clamp(300px, 90%, 1000px) !important;
        @include flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media (width<=768px) {
            flex-direction: column;
        }
    }
}

.title1 {
    width: 100% !important;
    text-decoration: none;
    color: var(--color-primary-gray);
    padding: .5em 0;
    background-color: rgba(white, .4);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 3em 0 .5em 0;
}

.billboard_title {
    width: 100%;
    height: auto;
    min-height: 3em;
    background-color: rgba(white, .3);
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;

    span {
        width: auto;
        @include flex;
        justify-content: flex-start;
        gap: 10px;
        white-space: nowrap;

        &:nth-child(2) {
            font-weight: bold;
        }

        &:nth-child(3) {
            color: var(--color-primary-gray);
        }
    }

    a {
        width: auto;
        text-decoration: none;
        padding: 0 .5em;
        text-align: center;
    }
}

#visit {
    position: fixed;
    z-index: 10;
    $side: 2em;
    bottom: calc(var(--height) + $side);
    right: $side;
    width: 100px;
    aspect-ratio: 1;
    @include flex;
    justify-content: center;

    @media (width<=768px) {
        bottom: $side;
        width: 80px;
    }

    img {
        width: 100%;
        border-radius: 10px;
        $padding: 4px;
        $k: 50;
        box-shadow: $padding $padding 5px rgb($k, $k, $k);
        transition: 300ms all ease;

        &:hover {
            transition: 150ms all ease;
            box-shadow: none;
            transform: translateY($padding);
        }
    }
}

.pic-link {
    position: relative;
    @include flex;
    justify-content: center;
    width: 250px;
    aspect-ratio: 3/2;
    overflow: hidden;
    animation: slideUp 800ms forwards;

    * {
        position: absolute;
    }

    img {
        height: 100%;
        width: auto;
    }

    span {
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        color: black;
        // @include cyan-neon;
        background-color: rgba(white, .7);
        padding: .2em 1.5em;
        animation: 1.5s slideRight forwards;
        transition: 300ms all ease;

        &:hover {
            transition: 150ms all ease;
            background-color: white;
        }
    }
}

.datas {
    width: 90vw !important;
    @include flex;
    align-items: flex-start;
    gap: 2em;

    @media (width<=768px) {
        flex-direction: column;
    }

    div,
    >ul {
        width: clamp(300px, 30%, 600px);
    }
}

#schedules {
    width: 40%;
    @include flexcolumn;

    * {
        text-align: right;

        @media (width<=768px) {
            text-align: center;
        }
    }

    h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        @include flexcolumn;
        gap: 5px;

        li {
            font-size: 1.1rem;
        }
    }
}

#details {
    width: 50%;
    list-style: none;
    @include flexcolumn;
    align-items: flex-start;
    gap: 5px;

    li {
        width: auto;
        @include flex;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;

        * {
            width: auto;
            font-size: 1.1rem;
        }

        span {
            white-space: nowrap;
        }

        a {
            text-decoration: none;
            color: var(--color-primary-gray);
            white-space: nowrap;
            transition: 300ms all ease;

            &:hover {
                transition: 150ms all ease;
                color: var(--hover);
                color: var(--color-secondary-gray);
            }
        }

        @media (width<=768px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }
    }
}

#schedules,
#details {
    @media (width<=768px) {
        width: 80%;
    }
}

#communication {
    @include flexcolumn;
    gap: 2em;

    article {
        @include flexcolumn;
        gap: 1em;
        padding: 1em;
        background-color: rgba(white, .3);
        border-radius: 10px;
        $k: 100;
        box-shadow: 3px 3px 5px rgb($k, $k, $k);

        h3 {
            @include flex;
            justify-content: flex-start;
            gap: 5px;

            span {
                width: auto;
            }
        }

        p {
            text-indent: 1em;
        }
    }
}

#com-content {
    width: clamp(300px, 70vw, 900px);
    min-height: 10em;
    padding: 1em;
    @include flexcolumn;
    gap: 2em;

    article {
        @include flexcolumn;
        gap: .5em;

        h3 {
            font-weight: bold;
            @include flex;
            justify-content: flex-start;
            gap: 5px;


            span {
                &:nth-child(3) {
                    color: #bb1616;
                }
            }
        }

        div {
            @include flexcolumn;
            align-items: flex-start;
            gap: 5px;

            p,
            a {
                text-indent: 0;
            }

            a {
                width: auto;
                text-decoration: none;
                padding: 5px 15px;
                background-color: rgba(white, .5);
            }
        }

        @media (width<=768px) {
            h3 {
                flex-direction: column;

                span {
                    text-align: center;

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }

            div {
                a {
                    max-width: 30ch;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.articles {
    @include flex;
    justify-content: center;
    gap: 1em;

    a {
        text-decoration: none;
        color: black;
        width: clamp(100px, 30%, 300px);
        aspect-ratio: 4/3;
        padding: 5px;
        background-color: rgba(white, .4);
        @include flexcolumn;
        justify-content: flex-start;
        gap: 5px;
        transition: 300ms all ease;

        span {
            text-align: center;
            overflow: hidden;
            max-width: 60ch;

            @media (width<=1000px) {
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &:hover {
            transition: 150ms all ease;
            background-color: rgba(white, .7);
        }
    }
}

#predication {
    @include flex;
    justify-content: space-evenly;
    gap: 1em;
    width: clamp(300px, 80%, 800px);

    article {
        width: auto;
        @include flexcolumn;
        background-color: rgba(white, .3);
        padding: 1em;
        border-radius: 10px;
        $k: 100;
        box-shadow: 3px 3px 5px rgb($k, $k, $k);

        div {
            font-size: 20px;

            span {
                &:first-child {
                    color: #bb1616;
                }

                &:nth-child(3) {
                    font-weight: bold;
                }
            }
        }
    }
}