@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary3);
}

main {
    background-color: var(--color-quinary3);
    @include flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 3em;

    >a {
        @include button;
    }
}

