@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  --height: 4em;
  --padding: 1em;
  --color-primary1: #1d2d44;
  --color-secondary1: #34507a;
  --color-tertiary1: #4b74af;
  --color-quaternary1: #7e9dc8;
  --color-quinary1: #b4c6df;
  --color-senary1: #800000;
  --color-primary2: #935c25;
  --color-secondary2: #cd8238;
  --color-tertiary2: #dca975;
  --color-quaternary2: #eccfb2;
  --color-quinary2: #fbf5ef;
  --color-primary3: #2a6a1e;
  --color-secondary3: #42a62f;
  --color-tertiary3: #66ce53;
  --color-quaternary3: #9bdf8e;
  --color-quinary3: #d0f0ca;
  --color-primary-gray: #5a5a5a;
  --color-secondary-gray: gray;
  --color-tertiary-gray: #a7a7a7;
  --color-quaternary-gray: #cdcdcd;
  --color-quinary-gray: #f3f3f3;
  --hover: #ffcc7e;
  --active: #fca626;
  --smallActive: red;
  --anton: "Anton", sans-serif;
  --archivo: "Archivo", sans-serif;
  --archivoBlack: "Archivo Black", sans-serif;
  --baloo: "Baloo Paaji 2", sans-serif;
  --comfortaa: "Comfortaa", sans-serif;
  --comicneue: "Comic Neue", cursive;
  --dmsans: "DM Sans", sans-serif;
  --gaMaamli: "Ga Maamli", sans-serif;
  --jersey: "Jersey 10", sans-serif;
  --jost: "Jost", sans-serif;
  --macondo: "Macondo", cursive;
  --matemasie: "Matemasie", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --pacifico: "Pacifico", cursive;
  --playRightArgentina: "Playwrite AR", cursive;
  --playwritHU: "Playwrite HU", cursive;
  --poppins: "Poppins", sans-serif;
  --quickSand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --rubik: "Rubik", sans-serif;
  --rajdhani: "Rajdhani", sans-serif;
  --sacramento: "Sacramento", cursive;
}

:root {
  --space: 3em;
}

nav,
footer {
  background-color: var(--color-primary2);
}

main {
  background-color: var(--color-tertiary2);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 3em;
}
main h1 {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
main h1 span:nth-child(2) {
  display: block;
}
main h1 span:nth-child(3) {
  display: none;
}
@media (width <= 768px) {
  main h1 {
    width: minmax(250px, 500px);
  }
  main h1 a img {
    height: 0.7em;
    aspect-ratio: 1;
  }
  main h1 span {
    font-size: 30px;
  }
  main h1 span:nth-child(2) {
    display: none;
  }
  main h1 span:nth-child(3) {
    display: block;
  }
}
main h1 * {
  width: auto;
}
main h1 a {
  text-decoration: none;
  width: auto;
}
main h1 a img {
  height: 0.7em;
}

form {
  width: clamp(300px, 70%, 700px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
form h2 {
  text-align: center;
  margin: 1em 0 0.5em 0;
  font-size: 30px;
}
form section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.2);
}
@media (width <= 768px) {
  form section {
    width: 80vw;
  }
}
form section h3 {
  width: auto;
  padding: 0.5em 2em;
  text-align: center;
  margin-bottom: 1em;
  font-size: 22px;
  border: 1px solid white;
}
form section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
form section label {
  text-indent: 3em;
}
form section input,
form section select {
  width: calc(90% - 20px);
  padding: 10px;
  outline: none;
  border: none;
  transition: 300ms all ease;
}
form section input:focus,
form section select:focus {
  transition: 150ms all ease;
  box-shadow: 0 0 10px var(--color-primary2), 0 0 10px var(--color-primary2);
}
form button {
  width: auto;
  padding: 10px 30px;
  font-size: 18px;
  box-shadow: 4px 4px 5px grey;
  transition: 300ms all ease;
}
form button:focus {
  transition: 150ms all ease;
  box-shadow: none;
  transform: translateY(4px);
}

.ministry {
  width: clamp(300px, 100%, 900px) !important;
  padding: 2em;
}

.datas {
  width: clamp(300px, 120%, 1000px) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.datas article {
  width: calc(50% - 3em);
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
@media (width <= 768px) {
  .datas article {
    align-items: flex-end;
  }
}
.datas article h4 {
  text-align: center;
  font-size: 22px;
}
.datas article div {
  width: 40%;
}
.datas article div label {
  text-indent: 0;
  text-align: center;
}

.school {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.school div {
  width: clamp(300px, 50%, 90% - 20px);
  align-items: flex-start;
}
.school div span {
  width: auto;
  padding: 0 1em;
  font-size: 20px;
}
.school div label {
  text-align: left;
}

.discuss {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discuss h4 {
  text-align: center;
}
.discuss label,
.discuss input,
.discuss select {
  width: 100%;
  text-indent: 0;
}

.vcm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.vcm article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.vcm article h4 {
  text-align: center;
  font-size: 20px;
}
.vcm article div:nth-child(2) label {
  text-indent: 0;
  text-align: center;
}
.vcm article div:nth-child(2) input,
.vcm article div:nth-child(2) select {
  width: 150px;
}

.eba {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.eba article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.native-form p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.native-form p * {
  width: clamp(300px, 60%, 600px);
}
.native-form p input,
.native-form p select {
  padding: 10px;
  outline: none;
  border: none;
  transition: 300ms all ease;
}
.native-form p input:focus,
.native-form p select:focus {
  transition: 150ms all ease;
  box-shadow: 0 0 10px var(--color-primary2), 0 0 10px var(--color-primary2);
}

.songs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.songs h4 {
  width: 100%;
  text-align: center;
  letter-spacing: 4px;
}
.songs div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.songs span {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=new_vcm.css.map */