@import 'mixins.scss';
@import 'constants.scss';

main {
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;
}

nav,
footer {
    background-color: var(--color-primary-gray);
}

main {
    background-color: var(--color-quaternary-gray);
    @include flexcolumn;
    gap: 3em;

    h1 {
        @include white-neon;
        @include flex;
        justify-content: center;
        gap: 1em;

        a,
        span {
            width: auto;
        }

        a {
            img {
                $size: .7em;
                height: $size;
                width: $size;
            }
        }
    }
}

form {
    width: clamp(300px, 70%, 800px);
    @include flexcolumn;
    gap: 1em;

    div {
        @include flex;
        justify-content: space-between;
        gap: 5px;
        padding: 5px;

        label {
            text-indent: 1em;
            width: auto;
        }

        input,
        select {
            width: 70%;
            padding: 10px;
            @include no-border;
            background-color: rgba(white, .8);
            transition: 300ms all ease;

            &:focus {
                transition: 150ms all ease;
                background-color: white;
            }
        }
    }

    button {
        @include submit;
    }
}