@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary2);
}

main {
    background-color: var(--color-tertiary2);
    @include flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 3em;

    h1 {
        @include flex;
        justify-content: center;
        gap: 10px;

        a,
        span {
            width: auto;
        }

        a {
            @include flexcolumn;

            img {
                width: .7em;
            }
        }
    }

    form {
        width: clamp(300px, 70%, 700px);
        @include flexcolumn;
        gap: 1em;

        h2 {
            text-align: center;
            margin: 1em 0 .5em 0;
            font-size: 30px;
        }

        section {
            @include border;
            @include flexcolumn;
            gap: 10px;
            padding: 1em;
            background-color: rgba(white, .2);

            @media (width<=768px) {
                width: 80vw;
            }

            div {
                width: clamp(300px, 90%, 800px);
                @include flex;
                justify-content: space-between;

                &:last-child {
                    align-items: flex-start;
                }
            }

            label {
                text-indent: 3em;
                width: auto;
            }

            input,
            select {
                width: 65%;
                padding: 10px;
                @include no-border;
                transition: 300ms all ease;

                &:focus {
                    transition: 150ms all ease;
                    box-shadow: 0 0 10px var(--color-primary2), 0 0 10px var(--color-primary2);
                }
            }
        }

        button {
            @include submit;
        }
    }
}