@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary2);
}

main {
    background-color: var(--color-tertiary2);
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;

    >a {
        @include button;
    }

    >div {
        width: clamp(300px, 50%, 600px);
        text-align: left;
        padding: 5px;
        background-color: rgba(white, .3);
        padding: 5px;
        text-align: left;
        $k: 100;
        $padding: 4px;
        box-shadow: $padding $padding 5px rgb($k, $k, $k);
        transition: 300ms all ease;

        &:hover {
            transition: 150ms all ease;
            box-shadow: none;
            transform: translateY($padding);
            background-color: rgba(white, .4);
        }
    }
}