@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary2);
}

main {
    background-color: var(--color-tertiary2);
    @include flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 3em;

    >a {
        @include button;
    }

    section {
        width: 100%;
        @include flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        a {
            text-decoration: none;
            color: black;
            $size: 6em;
            width: $size;
            height: $size;
            border-radius: 50%;
            @include flexcolumn;
            align-items: center;
            justify-content: center;
            background-color: rgba(white, .5);
            $padding: 4px;
            $k: 80;
            box-shadow: $padding $padding 5px rgb($k, $k, $k);
            transition: 300ms all ease;

            &:hover {
                transition: 70ms all ease;
                background-color: rgba(white, .9);
                box-shadow: none;
                transform: translateY($padding);

            }

            span {
                width: auto;
                text-align: center;
                font-size: 14px;

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}