@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary3);
}

main {
    background-color: var(--color-quinary3);
    @include flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 3em;

    h1 {
        @include h1-form;
    }

    >form {
        width: clamp(300px, 70%, 700px);
        @include flexcolumn;
        gap: 1em;

        @media (width<=768px) {
            width: clamp(300px, 90%, 700px);
        }

        div {
            @include flex;
            justify-content: space-between;

            label {
                width: auto;
                text-align: left;
            }

            input,
            select {
                width: 75%;
                padding: 10px;
                @include no-border;
                transition: 300ms all ease;

                &:focus {
                    transition: 150ms all ease;
                    box-shadow: 0 0 10px var(--color-primary3), 0 0 10px var(--color-primary3);
                }
            }
        }

        button {
            @include submit;
        }
    }

    >section {
        // width: 100vw;
        width: clamp(300px, 90%, 1500px);
        // background-color: var(--color-quaternary3);
        @include flexcolumn;
        gap: 2em;
        padding: 2em 0;

        >a {
            @include button;
        }

        &:nth-child(3) {
            section {
                @include flexcolumn;
                gap: 0;
                width: clamp(300px, 70%, 800px);

                @media (width<=768px) {
                    width: clamp(300px, 90%, 700px);
                }

                div {
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                    border-top: 1px solid black;
                    background-color: rgba(white, .4);
                    padding: 5px;
                    @include flex;
                    transition: 200ms all ease;

                    &:last-child {
                        border-bottom: 1px solid black;
                    }

                    &:hover {
                        transition: 80ms all ease;
                        background-color: rgba(white, .9);
                    }

                    span {
                        width: 25%;

                        &:first-child {
                            font-weight: bold;
                        }

                        &:last-child {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}

.publications {
    width: clamp(250px, 80%, 1000px);
    @include flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    >article {
        width: auto;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(white, .5);
        $offset: 4px;
        $k: 80;
        box-shadow: $offset $offset 5px rgb($k, $k, $k);
        @include flex;
        justify-content: center;
        gap: 1em;
        transition: 300ms all ease;

        @media (width<=768px) {
            padding: 5px;
            gap: .5em;
        }

        &:hover {
            transition: 80ms all ease;
            box-shadow: none;
            transform: translateY($offset);
        }

        div {
            width: auto;
            @include flex;
            gap: 5px;

            a {
                width: auto;
                text-decoration: none;
            }

            form {
                button {
                    @include no-border;
                    cursor: pointer;
                    background-color: transparent;
                }
            }

            a,
            form {
                @include flex;
                justify-content: center;
                width: 30px;
                aspect-ratio: 1;
                text-align: center;
            }
        }
    }
}

.commands {
    width: clamp(300px, 90%, 1200px);
    @include flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin: 2em 0;

    a {
        text-decoration: none;
        color: black;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        background-color: rgba(white, .4);
        padding: .5em;
        margin-bottom: 1em;
    }

    article {
        width: clamp(300px, 30%, 450px);
        height: auto;
        min-height: 4em;
        @include flex;
        justify-content: space-between;
        background-color: var(--color-quaternary3);
        $depth: 3px;
        $k: 80;
        box-shadow: $depth $depth 5px rgb($k, $k, $k);
        transition: 200ms all ease;

        &:hover {
            transition: 80ms all ease;
            background-color: var(--color-tertiary3);
            box-shadow: none;
            transform: translateY($depth);
        }

        div {
            @include flexcolumn;
            width: 50%;
            font-size: 16px;
            padding: 5px;
        }
    }
}