@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  --height: 4em;
  --padding: 1em;
  --color-primary1: #1d2d44;
  --color-secondary1: #34507a;
  --color-tertiary1: #4b74af;
  --color-quaternary1: #7e9dc8;
  --color-quinary1: #b4c6df;
  --color-senary1: #800000;
  --color-primary2: #935c25;
  --color-secondary2: #cd8238;
  --color-tertiary2: #dca975;
  --color-quaternary2: #eccfb2;
  --color-quinary2: #fbf5ef;
  --color-primary3: #2a6a1e;
  --color-secondary3: #42a62f;
  --color-tertiary3: #66ce53;
  --color-quaternary3: #9bdf8e;
  --color-quinary3: #d0f0ca;
  --color-primary-gray: #5a5a5a;
  --color-secondary-gray: gray;
  --color-tertiary-gray: #a7a7a7;
  --color-quaternary-gray: #cdcdcd;
  --color-quinary-gray: #f3f3f3;
  --hover: #ffcc7e;
  --active: #fca626;
  --smallActive: red;
  --anton: "Anton", sans-serif;
  --archivo: "Archivo", sans-serif;
  --archivoBlack: "Archivo Black", sans-serif;
  --baloo: "Baloo Paaji 2", sans-serif;
  --comfortaa: "Comfortaa", sans-serif;
  --comicneue: "Comic Neue", cursive;
  --dmsans: "DM Sans", sans-serif;
  --gaMaamli: "Ga Maamli", sans-serif;
  --jersey: "Jersey 10", sans-serif;
  --jost: "Jost", sans-serif;
  --macondo: "Macondo", cursive;
  --matemasie: "Matemasie", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --pacifico: "Pacifico", cursive;
  --playRightArgentina: "Playwrite AR", cursive;
  --playwritHU: "Playwrite HU", cursive;
  --poppins: "Poppins", sans-serif;
  --quickSand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --rubik: "Rubik", sans-serif;
  --rajdhani: "Rajdhani", sans-serif;
  --sacramento: "Sacramento", cursive;
}

:root {
  --space: 3em;
}

nav,
footer {
  background-color: var(--color-primary3);
}

main {
  background-color: var(--color-quinary3);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 3em;
}
main h1 {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
main h1 span:nth-child(2) {
  display: block;
}
main h1 span:nth-child(3) {
  display: none;
}
@media (width <= 768px) {
  main h1 {
    width: minmax(250px, 500px);
  }
  main h1 a img {
    height: 0.7em;
    aspect-ratio: 1;
  }
  main h1 span {
    font-size: 30px;
  }
  main h1 span:nth-child(2) {
    display: none;
  }
  main h1 span:nth-child(3) {
    display: block;
  }
}
main h1 * {
  width: auto;
}
main h1 a {
  text-decoration: none;
  width: auto;
}
main h1 a img {
  height: 0.7em;
}
main > form {
  width: clamp(300px, 70%, 700px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
@media (width <= 768px) {
  main > form {
    width: clamp(300px, 90%, 700px);
  }
}
main > form div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main > form div label {
  width: auto;
  text-align: left;
}
main > form div input,
main > form div select {
  width: 75%;
  padding: 10px;
  outline: none;
  border: none;
  transition: 300ms all ease;
}
main > form div input:focus,
main > form div select:focus {
  transition: 150ms all ease;
  box-shadow: 0 0 10px var(--color-primary3), 0 0 10px var(--color-primary3);
}
main > form button {
  width: auto;
  padding: 10px 40px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  box-shadow: 4px 4px 5px rgb(120, 120, 120);
  transition: 300ms all ease;
}
main > form button:hover {
  transition: 150ms all ease;
  box-shadow: none;
  transform: translateY(4px);
}
main > form button:focus {
  transition: 50ms all ease;
  background-color: rgba(136, 230, 136, 0.5);
}
main > section {
  width: clamp(300px, 90%, 1500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em 0;
}
main > section > a {
  width: auto;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 0.5em 1.5em;
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.8);
  transition: 300ms all ease;
}
main > section > a:hover {
  transition: 150ms all ease;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  transform: translateY(4px);
}
main > section:nth-child(3) section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: clamp(300px, 70%, 800px);
}
@media (width <= 768px) {
  main > section:nth-child(3) section {
    width: clamp(300px, 90%, 700px);
  }
}
main > section:nth-child(3) section div {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 200ms all ease;
}
main > section:nth-child(3) section div:last-child {
  border-bottom: 1px solid black;
}
main > section:nth-child(3) section div:hover {
  transition: 80ms all ease;
  background-color: rgba(255, 255, 255, 0.9);
}
main > section:nth-child(3) section div span {
  width: 25%;
}
main > section:nth-child(3) section div span:first-child {
  font-weight: bold;
}
main > section:nth-child(3) section div span:last-child {
  width: auto;
}

.publications {
  width: clamp(250px, 80%, 1000px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}
.publications > article {
  width: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 5px rgb(80, 80, 80);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  transition: 300ms all ease;
}
@media (width <= 768px) {
  .publications > article {
    padding: 5px;
    gap: 0.5em;
  }
}
.publications > article:hover {
  transition: 80ms all ease;
  box-shadow: none;
  transform: translateY(4px);
}
.publications > article div {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.publications > article div a {
  width: auto;
  text-decoration: none;
}
.publications > article div form button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.publications > article div a,
.publications > article div form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  aspect-ratio: 1;
  text-align: center;
}

.commands {
  width: clamp(300px, 60%, 800px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 2em 0;
}
.commands a {
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.5em;
  margin-bottom: 1em;
}
.commands article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  background-color: var(--color-quaternary3);
  transition: 200ms all ease;
}
.commands article:hover {
  transition: 80ms all ease;
  background-color: var(--color-tertiary3);
}
.commands article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  align-items: flex-start;
  font-size: 16px;
  padding: 5px;
}/*# sourceMappingURL=publications.css.map */