@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  --height: 4em;
  --padding: 1em;
  --color-primary1: #1d2d44;
  --color-secondary1: #34507a;
  --color-tertiary1: #4b74af;
  --color-quaternary1: #7e9dc8;
  --color-quinary1: #b4c6df;
  --color-senary1: #800000;
  --color-primary2: #935c25;
  --color-secondary2: #cd8238;
  --color-tertiary2: #dca975;
  --color-quaternary2: #eccfb2;
  --color-quinary2: #fbf5ef;
  --color-primary3: #2a6a1e;
  --color-secondary3: #42a62f;
  --color-tertiary3: #66ce53;
  --color-quaternary3: #9bdf8e;
  --color-quinary3: #d0f0ca;
  --color-primary-gray: #5a5a5a;
  --color-secondary-gray: gray;
  --color-tertiary-gray: #a7a7a7;
  --color-quaternary-gray: #cdcdcd;
  --color-quinary-gray: #f3f3f3;
  --hover: #ffcc7e;
  --active: #fca626;
  --smallActive: red;
  --anton: "Anton", sans-serif;
  --archivo: "Archivo", sans-serif;
  --archivoBlack: "Archivo Black", sans-serif;
  --baloo: "Baloo Paaji 2", sans-serif;
  --comfortaa: "Comfortaa", sans-serif;
  --comicneue: "Comic Neue", cursive;
  --dmsans: "DM Sans", sans-serif;
  --gaMaamli: "Ga Maamli", sans-serif;
  --jersey: "Jersey 10", sans-serif;
  --jost: "Jost", sans-serif;
  --macondo: "Macondo", cursive;
  --matemasie: "Matemasie", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --pacifico: "Pacifico", cursive;
  --playRightArgentina: "Playwrite AR", cursive;
  --playwritHU: "Playwrite HU", cursive;
  --poppins: "Poppins", sans-serif;
  --quickSand: "Quicksand", sans-serif;
  --roboto: "Roboto", sans-serif;
  --rubik: "Rubik", sans-serif;
  --rajdhani: "Rajdhani", sans-serif;
  --sacramento: "Sacramento", cursive;
}

:root {
  --space: 3em;
}

nav,
footer {
  background-color: var(--color-primary2);
}

main {
  background-color: var(--color-secondary2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-bottom: 3em;
}
main > a {
  width: auto;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 0.5em 1.5em;
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.8);
  transition: 300ms all ease;
}
main > a:hover {
  transition: 150ms all ease;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  transform: translateY(4px);
}
main section {
  width: clamp(300px, 70%, 800px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
main section > a {
  width: clamp(200px, 40%, 700px);
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 30px;
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 300ms all ease;
}
main section > a:hover {
  transition: 150ms all ease;
  background-color: rgba(255, 255, 255, 0.2);
}
main article {
  background-color: var(--color-tertiary2);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  font-family: var(--poppins);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.actions a {
  width: auto;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  padding: 0.5em 1.5em;
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.8);
  transition: 300ms all ease;
}
.actions a:hover {
  transition: 150ms all ease;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  transform: translateY(4px);
}

.meeting div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.meeting div span:first-child {
  text-align: left;
}
.meeting div span:last-child {
  text-align: right;
}
.meeting h2 {
  width: 90%;
  font-size: 25px;
  text-transform: uppercase;
  color: var(--color-primary1);
  border: 1px solid black;
  padding: 1em 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.meeting h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--color-primary2);
  margin: 0.5em 0;
  text-indent: 1em;
}
.meeting h3 span {
  width: auto;
}
.meeting h3 span:first-child {
  font-size: 18px;
}
.meeting h3 span:nth-child(2) {
  font-size: 15px;
  letter-spacing: 0;
  font-weight: normal;
}
.meeting h2,
.meeting h3 {
  letter-spacing: 3px;
}

.president a {
  font-weight: bold;
  font-size: 20px;
  color: var(--color-primary2);
  text-align: left;
  text-decoration: none;
}

.prayer {
  font-weight: 600;
}

.song {
  color: #7d1d7d;
  margin: 1em 0;
}

.jewels {
  margin-top: var(--space);
}
.jewels span:first-child {
  white-space: nowrap;
}

.jewels,
.pearls {
  width: clamp(250px, 80%, 700px);
}

.pearls {
  margin-bottom: 1em;
}

.vcm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.allocution,
.vcm div,
.eba {
  width: clamp(250px, 80%, 700px);
}
.allocution span:last-child,
.vcm div span:last-child,
.eba span:last-child {
  white-space: nowrap;
}/*# sourceMappingURL=vcm.css.map */