@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary2);
}

main {
    background-color: var(--color-tertiary2);
    @include flexcolumn;
    gap: 2em;
    padding-bottom: 3em;

    h1 {
        @include flex;
        justify-content: center;
        gap: 1em;

        span,
        a {
            width: auto;
            font-size: clamp(20px, 3rem, 35px);
            text-decoration: none;

            @media (width<=768px) {
                font-size: 25px;

                img {
                    width: 25px;
                }
            }
        }

        >a {
            img {
                width: 30px;
            }
        }
    }
}

.create {
    @include button;
}

.actions {
    @include flex;
    justify-content: flex-end !important;
    gap: 1em;

    a {
        text-decoration: none;
    }

    $size: 25px;

    form {
        @include flex;

        button {
            @include no-border;
            background-color: transparent;
            font-size: $size;
            cursor: pointer;
        }
    }

    a,
    form {
        width: auto;
        font-size: $size;
    }

    @media (width<=768px) {
        flex-direction: row !important;
        justify-content: center;
    }
}

.meeting-list {
    @include flexcolumn;
    gap: 10px;
    text-align: center;
    padding: 1em;

    >article {
        width: clamp(200px, 40%, 700px);
        padding: .7em;
        @include border;
        background-color: rgba(white, .1);
        transition: 300ms all ease;

        @media (width<=768px) {
            width: clamp(300px, 90%, 700px);
        }

        &:hover {
            background-color: rgba(white, .3);
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
        }
    }
}

.meeting {
    @include flexcolumn;
    gap: 10px;
    background-color: rgba(white, .3);
    padding: 1em;
    width: clamp(300px, 70%, 800px);
    $k: 50;
    $padding: 6px;
    box-shadow: $padding $padding 10px rgb($k, $k, $k);
    gap: 1em;

    >a {
        width: clamp(200px, 40%, 700px);
        text-align: center;
        text-decoration: none;
        @include border;
        padding: 10px 30px;
        color: black;
        font-size: 20px;
        background-color: rgba(white, .1);
        transition: 300ms all ease;

        &:hover {
            transition: 150ms all ease;
            background-color: rgba(white, .2);
        }
    }

    div {
        @include flex;
        justify-content: space-between;
        text-align: center;

        span {
            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    h2 {
        width: 90%;
        font-size: 25px;
        text-transform: uppercase;
        color: var(--color-primary1);
        @include border;
        padding: 1em 0;
        text-align: center;
        background-color: rgba(white, .2);
        box-shadow: 4px 4px 5px rgba(black, .5);
    }

    h3 {
        @include flex;
        justify-content: flex-start;
        gap: 10px;
        color: var(--color-primary2);
        margin: .5em 0;
        text-indent: 1em;

        span {
            width: auto;

            &:first-child {
                font-size: 18px;
            }

            &:nth-child(2) {
                font-size: 15px;
                letter-spacing: 0;
                font-weight: normal;
            }
        }
    }

    h2,
    h3 {
        letter-spacing: 3px;
    }

    @media (width<=768px) {
        width: clamp(300px, 85%, 700px);

        h2 {
            font-size: 20px;
            padding: 10px 0;
        }

        h3 {
            @include flexcolumn;
            gap: 5px;
        }

        div {
            width: 100%;
            @include flexcolumn;
            align-items: flex-start;

            span {
                text-align: left !important;

                &:first-child {
                    font-weight: 550;
                }
            }
        }
    }
}

.president {
    span {
        &:first-child {
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.prayer {
    font-weight: 600;
}

.song {
    color: #7d1d7d;
    margin: 1em 0;
}

// .jewels {
//     span {
//         &:first-child {
//             white-space: nowrap;
//         }
//     }
// }

.jewels,
.pearls {
    width: clamp(250px, 80%, 700px);
}

.pearls {
    margin-bottom: 1em;
}

.vcm {
    width: 100%;
    @include flexcolumn;
    gap: .5em;
}

.allocution,
.vcm div,
.eba {
    width: clamp(250px, 80%, 700px);

    // span {
    //     &:last-child {
    //         white-space: nowrap;
    //     }
    // }
}