@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary2);
}

main {
    background-color: var(--color-secondary2);
    @include flexcolumn;
    gap: 2em;
    padding-bottom: 3em;

    article {
        background-color: var(--color-tertiary2);
        padding: 1em;
        @include flexcolumn;
        gap: .5em;
        font-family: var(--poppins);
        box-shadow: 4px 4px 5px rgba(black, .5);
    }
}

section {
    @include flexcolumn;
    gap: 2em;

    >a {
        width: auto;
        text-decoration: none;
        text-align: center;
        @include border;
        padding: .5em 1.5em;
        color: black;
        font-size: 20px;
        background-color: rgba(white, .5);
        $padding: 4px;
        $k: 50;
        box-shadow: $padding $padding 5px rgba($k, $k, $k, .8);
        transition: 300ms all ease;

        &:hover {
            transition: 150ms all ease;
            background-color: rgba(white, .7);
            box-shadow: none;
            transform: translateY($padding);
        }
    }
}

.meeting {
    div {
        @include flex;
        justify-content: space-between;
        text-align: center;

        span {
            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    h2 {
        width: 90%;
        font-size: 25px;
        text-transform: uppercase;
        color: var(--color-primary1);
        @include border;
        padding: 1em 0;
        text-align: center;
        background-color: rgba(white, .2);
        box-shadow: 4px 4px 5px rgba(black, .5);
    }

    h3 {
        @include flex;
        justify-content: flex-start;
        gap: 10px;
        color: var(--color-primary2);
        margin: .5em 0;
        text-indent: 1em;

        span {
            width: auto;

            &:first-child {
                font-size: 18px;
            }

            &:nth-child(2) {
                font-size: 15px;
                letter-spacing: 0;
                font-weight: normal;
            }
        }
    }

    h2,
    h3 {
        letter-spacing: 3px;
    }
}

.president {
    span {
        &:first-child {
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.prayer {
    font-weight: 600;
}

.song {
    color: #7d1d7d;
    margin: 1em 0;
}

.jewels {
    margin-top: var(--space);

    span {
        &:first-child {
            white-space: nowrap;
        }
    }
}

.jewels,
.pearls {
    width: clamp(250px, 80%, 700px);
}

.pearls {
    margin-bottom: 1em;
}

.vcm {
    width: 100%;
    @include flexcolumn;
    gap: .5em;
}

.allocution,
.vcm div,
.eba {
    width: clamp(250px, 80%, 700px);

    span {
        &:last-child {
            white-space: nowrap;
        }
    }
}

.welcome,
.sono {
    width: 80%;
    padding: 2em 0;
    @include flexcolumn;
    gap: 1em;

    h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 1em;
    }

    div {
        width: clamp(250px, 80%, 700px);
        @include flex;
        justify-content: flex-start;
        gap: 3em;

        span {
            &:first-child {
                width: 120px;
                font-weight: bold;
            }

            &:nth-child(2) {
                color: var(--color-primary1);
                @include flex;
                justify-content: flex-start;
                gap: 5px;

                div {
                    width: auto;
                }
            }
        }
    }
}