@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary1);
}

main {
    background-color: var(--color-quaternary1);
    @include flexcolumn;
    gap: 2em;
    padding-bottom: 3em;

    >a {
        @include button;
    }

    section {
        @include flexcolumn;
        gap: 1em;
    }
}

.meeting {
    position: relative;
    width: clamp(300px, 75vw, 800px);
    overflow: hidden;
    height: 3em;
    background-color: rgba(white, .1);
    padding: 1em;
    @include flexcolumn;
    gap: 1.5em;
    font-family: var(--poppins);
    box-shadow: 4px 4px 5px rgba(black, .5);
    // transition: 300ms all ease;

    @media (width<=768px) {
        width: 80vw;
    }

    h3 {
        $padding: .5em;
        width: calc(100% - 2 * $padding);
        font-size: 22px;
        text-align: center;
        padding: $padding;
        background-color: rgba(white, .2);
    }

    section {
        width: 100%;
        @include flexcolumn;
        align-items: flex-start;
        gap: 10px;
        text-align: left;

        div {
            @include flex;
            justify-content: flex-start;
            gap: 5px;

            span {
                width: auto;

                &:nth-child(2) {
                    font-weight: bold;
                }
            }
        }
    }
}

.song {
    color: var(--color-primary1);
    text-indent: 2em;
}

.auto-height {
    height: auto !important;
}

.active-title {
    color: orange;
}

.update-we-meeting {
    right: 4em;
}

.delete-we-meeting {
    right: 2em;

    button {
        @include no-border;
        background-color: transparent;
    }
}

.update-we-meeting,
.delete-we-meeting {
    text-decoration: none;
    position: absolute;
    $size: 2em;
    top: $size;
    width: $size;
    height: $size;
    cursor: pointer;
}