@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary1);
}

main {
    background-color: var(--color-tertiary1);
    @include flexcolumn;
    gap: 2em;
    padding-bottom: 3em;

    >a {
        @include button;
    }
}

.meeting {
    min-height: 5em;
    width: clamp(300px, 75vw, 800px);
    background-color: var(--color-quaternary1);
    padding: 1em;
    @include flexcolumn;
    gap: .5em;
    font-family: var(--poppins);
    box-shadow: 4px 4px 5px rgba(black, .5);

    @media (width<=768px) {
        width: 80vw;
    }
}