@import 'mixins.scss';
@import 'constants.scss';

:root {
    --space: 3em;
}

nav,
footer {
    background-color: var(--color-primary1);
}

main {
    background-color: var(--color-quaternary1);
    @include flexcolumn;
    gap: 2em;
    padding-bottom: 3em;

    h1 {
        width: auto;
        @include flex;
        justify-content: center;
        gap: 1em;

        span {
            &:nth-child(2) {
                display: block;
            }

            &:nth-child(3) {
                display: none;
            }
        }

        @media (width<=768px) {
            width: minmax(250px, 500px);

            a {
                img {
                    width: 30px;
                    aspect-ratio: 1;
                }
            }

            span {
                font-size: 30px;

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    display: block;
                }
            }
        }

        * {
            width: auto;
        }

        a {
            text-decoration: none;
            width: auto;

            img {
                height: .7em;
            }
        }
    }

    form {
        width: clamp(300px, 70%, 700px);
        @include flexcolumn;
        gap: 1em;

        section {
            @include border;
            padding: 1em;
            background-color: rgba(white, .2);

            div {
                @include flex;
                justify-content: space-between;
                gap: 1em;

                label {
                    width: auto;
                }

                input,
                select {
                    padding: 10px;
                    @include no-border;
                    transition: 300ms all ease;

                    &:focus {
                        transition: 150ms all ease;
                        box-shadow: 0 0 10px var(--color-primary2), 0 0 10px var(--color-primary2);
                    }
                }
            }

            h4 {
                width: auto;
                padding: .5em 2em;
                text-align: center;
                margin-bottom: .5em;
                font-size: 20px;
            }

            @media (width<=768px) {
                width: 80vw;
            }
        }

        button {
            @include submit;
        }
    }
}

.song {
    div {
        @include flex;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;

        span {
            width: auto;

            input {
                width: auto;
                text-align: center;
            }
        }
    }
}

.generals,
.parts {
    @include flexcolumn;
    gap: 10px;

    input,
    select {
        width: 75%;
    }
}