{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/groups.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/groups.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Groupes{% endblock %} {% block content %}

<main>
  <h1>Groupes</h1>

  <a href="{% url 'new_group' %}">Créer un nouveau groupe</a>

  <div id="group_names">
    {% for group in groups %}
    <li>{{ group.name }}</li>
    {% empty %}
    <li>Aucun groupe trouvé.</li>
    {% endfor %}
  </div>

  <ul class="names">
    {% for person in persons %}
    <li name="{{person.group}}" class="{% if person.cong_function != "NONE" %}{{person.cong_function}}{% endif %} {{person.cong_status}}">
      <span>{{person.firstname}}<br>{{person.lastname|upper}}</span>
      {% comment %} <span
        >{% if person.cong_function != "NONE" %}({{person.get_cong_function_display}}){% endif %}
      </span> {% endcomment %}
      {% endfor %}
    </li>
  </ul>
</main>
{% endblock %}
