{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/groups.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/groups.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Groupes{% endblock %} {% block content %}

<main>
  <h1>Groupes</h1>

  <a href="{% url 'new_group' %}">Créer un nouveau groupe</a>

  <div id="group_names">
    {% for group in groups %}
    <li>
      <div class="group_name">{{ group.name }}</div>
      <div>
        <a href="{% url 'group_update' group.pk %}" title="Modifier groupe {{group.name}}">✏️</a>
        <form action="{% url 'group_delete' group.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" title="Supprimer le groupe {{group.name}}">❌</button>
        </form>
      </div>
    </li>
    {% empty %}
    <li>Aucun groupe trouvé.</li>
    {% endfor %}
  </div>

  <div class="names">
    {% for person in persons %}
      <a href="{% url 'person_detail' person.pk %}" name="{{person.group}}" class="{% if person.cong_function != "NONE" %}{{person.cong_function}}{% endif %}">
        <span>{{person.firstname}}</span>
        <span>{{person.lastname|upper}}</span>

        {% if person.cong_status == "SPECIAL" %}
        <span>
          <img src="{% static 'icons/star.png' %}" alt="étoile" />
          <img src="{% static 'icons/star.png' %}" alt="étoile" />
          <img src="{% static 'icons/star.png' %}" alt="étoile" />
        </span>
        {% elif person.cong_status == "PERMANENT" %}
        <span>
          <img src="{% static 'icons/star.png' %}" alt="étoile" />
          <img src="{% static 'icons/star.png' %}" alt="étoile" />
        </span>
        {% elif person.cong_status == "TEMPORARY" %}
        <span><img src="{% static 'icons/star.png' %}" alt="étoile" /></span>
        {% endif %}
      </a>
    {% endfor %}
  </div>
</main>
{% endblock %}
