{% load static %}

<a href="/" id="mainLogo">
    <img src="{% static 'icons/favicon.ico' %}" alt="logo" title="Retour à l'accueil">
</a>

<nav>
    <a href="/vcm/" class="{% if '/vcm/' in request.path %}active{% endif %}">Semaine</a>
    <a href="/we/" class="{% if '/we/' in request.path %}active{% endif %}">Week-end</a>
</nav>

<div id="logo">
    <div>
        <a href="/">Assemblée de VLA</a>
        <img src="{% static 'icons/favicon.ico' %}" alt="logo">
    </div>
    <div>
        <img src="{% static 'icons/line.png' %}" alt="line1">
        <img src="{% static 'icons/line.png' %}" alt="line2">
        <img src="{% static 'icons/line.png' %}" alt="line3">
    </div>
</div>

<div id="menu">
    <a href="/" class="{% if request.path == "/" %}smallActive{% endif %}">ACCUEIL</a>
    <a href="/vcm/" class="{% if '/vcm/' in request.path %}smallActive{% endif %}">Semaine</a>
    <a href="/we/" class="{% if '/we/' in request.path %}smallActive{% endif %}">Week-end</a>
</div>
