{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/login.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/login.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Connexion{% endblock %} {% block content %}
<main>
  <h1>
    <a href="{% url 'index' %}"
      ><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"
    /></a>
    <span>Se connecter</span>
    <span>Se connecter</span>
  </h1>

  <form method="POST">
    {% csrf_token %}
    <section>
      <div>{{ form.username.label_tag }} {{ form.username }}</div>
      <div>{{ form.email.label_tag }} {{ form.email }}</div>
      <div>{{ form.password.label_tag }} {{ form.password }}</div>
    </section>

    <button type="submit">Connexion</button>
  </form>

  <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
</main>
{% endblock %}
