{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/login.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/login.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Connexion{% endblock %} {% block content %}
<main>
  <h1>{% if title %} {{ title }} {% else %} Connexion {% endif %}</h1>

  <form method="POST">
    {% csrf_token %}
    <section>
      <div>{{ form.email.label_tag }} {{ form.email }}</div>
      <div>{{ form.password.label_tag }} {{ form.password }}</div>
    </section>

    {% if form.non_field_errors %}
    <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}

    <button type="submit">
      {% if submit_text %}{{ submit_text }}{% else %}Se connecter{% endif %}
    </button>
  </form>

  <a href="{% url 'signup' %}">Pas de compte ? S'inscrire</a>
</main>
{% endblock %}
