{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/predication.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/predication.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Prédication{% endblock %} {% block content %}
<main>
  <h1>
    <a href="{% url 'predication' %}"
      ><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"
    /></a>
    <span>
      {% if main_title %}
      {{main_title}}
      {% else %}
      Nouvelle réunion pour la prédication
      {% endif %}
    </span>
  </h1>

  <form method="POST" class="new-meeting">
    {% csrf_token %}
    <section>
      <div>{{ form.date.label_tag }} {{ form.date }}</div>
      <div>{{ form.time.label_tag }} {{ form.time }}</div>
      <div>{{ form.manager.label_tag }} {{ form.manager }}</div>
      <div>{{ form.place.label_tag }} {{ form.place }}</div>
    </section>

    {% if form.non_field_errors %}
    <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}

    <button type="submit">{{ submit_text }}</button>
  </form>
</main>
{% endblock %}
