{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/command.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/command.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Commandes{% endblock %} {% block content %}
<main>
  <h1>Commandes de publications</h1>

  <a href="{% url 'command_new' %}">Créer une nouvelle commande</a>

  <section class="actions">
    <div id="persons"><span>Trier par nom de personnes</span></div>
    <div id="publications"><span>Trier par nom de publications</span></div>
  </section>

  <section class="commands">
    {% for command in commands_by_persons %}
    <div>
      <span>{{forloop.counter}} - {{command.person.fullname}}</span>
      <span>{{command.quantity}} x {{command.publication.name}}</span>
      <span>
        <a href="{% url 'command_update' command.pk %}" title="{{command.person.firstname}} veut autre chose que {{command.publication.name}}">✏️</a>
        <form action="{% url 'command_delete' command.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" title="{{command.person.firstname}} ne veut plus de {{command.publication.name}}">❌</button>
        </form>
      </span>
    </div>
    {% endfor %}
  </section>

  <section class="commands">
    {% for command in commands_by_publications %}
    <div>
      <span>{{forloop.counter}} - {{command.person.fullname}}</span>
      <span>{{command.quantity}} x {{command.publication.name}}</span>
      <span>
        <a href="{% url 'command_update' command.pk %}" title="{{command.person.firstname}} veut autre chose que {{command.publication.name}}">✏️</a>
        <form action="{% url 'command_delete' command.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" title="{{command.person.firstname}} ne veut plus de {{command.publication.name}}">❌</button>
        </form>
      </span>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
