{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/command.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/command.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Nouvelle commande{% endblock %} {% block content %}
<main>
  <h1>
    <a href="{% url 'commands' %}"
      ><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"
    /></a>

    {% if big_title %}
    <span>{{ big_title }}</span>
    {% else %}
    <span>Créer une nouvelle commande</span>
    {% endif %} {% if small_title %}
    <span>{{ small_title }}</span>
    {% else %}
    <span>Nouvelle commande</span>
    {% endif %}
  </h1>

  <form method="POST">
    {% csrf_token %}
    <section>
      <div>{{ form.person.label_tag }} {{ form.person }}</div>
      <div>{{ form.publication.label_tag }} {{ form.publication }}</div>
      <div>{{ form.quantity.label_tag }} {{ form.quantity }}</div>
    </section>

    {% if form.non_field_errors %}
    <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}

    <button type="submit">
      {% if submit_text %} {{submit_text}} {% else %} Ajouter {% endif %}
    </button>
  </form>
</main>
{% endblock %}
