{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/homepage.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %} {% block title %}VLA | Accueil{% endblock %} {% block content %}
<main>
  <div class="billboard_title">
    <span>Titre principal du site JW.org :</span>
    <a href="https://www.jw.org{{main_title_link}}" target="_blank"
      >{{main_title_text}}</a
    >
  </div>

  <h1>Assemblée de Villeneuve-lès-Avignon</h1>

  <a
    id="visit"
    href="https://hub.jw.org/request-visit/fr/request"
    target="_blank"
  >
    <img src="{% static 'icons/bible_study.jpg' %}" alt="Demander une visite" />
  </a>

  <section class="datas">
    <div id="schedules">
      <h4>Horaires de réunion</h4>

      <ul>
        <li>Tous les mardis à 19h30</li>
        <li>Tous les samedis à 15h00</li>
      </ul>
    </div>

    <ul id="details">
      <li>
        <span>Adresse :</span>
        <a
          href="https://www.google.com/maps/place/220 Rue d'Aramon 30133 Les Angles"
          target="_blank"
          >220 Rue d'Aramon, 30133 Les Angles</a
        >
      </li>
      <li>
        <span>Téléphone :</span>
        <a href="tel:0490258939">04 90 25 89 39</a>
      </li>
      <li>
        <span>Distanciel via Zoom :</span>
        <a href="#">30133 30133 | code : 30133</a>
      </li>
      <li>
        <span>Lien Zoom direct :</span>
        <a
          href="https://us06web.zoom.us/j/3013330133?pwd=bWttYm5zbmY4U1MyTjRjSC9aY2pvdz09"
          target="_blank"
          >cliquez ici</a
        >
      </li>
      <li>
        <span>Distanciel via téléphone :</span>
        <a href="tel:+33170950103">01 70 95 01 03 | Code : *30133#</a>
      </li>
    </ul>
  </section>

  <section>
    <a href="{% url 'vcm' %}" class="pic-link">
      <img
        src="{% static 'icons/conference (01).png' %}"
        alt="Réunion de semaine"
      />
      <span>Réunions de semaine</span>
    </a>

    <a href="{% url 'we' %}" class="pic-link">
      <img
        src="{% static 'icons/conference (02).png' %}"
        alt="Réunion de week-end"
      />
      <span>Réunions de<br />week-end</span>
    </a>

    <a href="{% url 'groups' %}" class="pic-link">
      <img src="{% static 'icons/drawing_team (02).png' %}" alt="Groupes" />
      <span>Groupes de<br />prédication</span>
    </a>
  </section>

  <h2 class="title1">Titres principaux sur JW.org</h2>

  <section>
    <div class="articles">
      {% for title, href, img_src in data %}
      <a href="https://www.jw.org{{href}}" target="_blank">
        <img src="{{img_src}}" alt="{{title}}" />
        <span>{{title}}</span>
      </a>
      {% endfor %}
    </div>
  </section>

  <a href="{% url 'predication' %}" class="title1">Prédication</a>

  <section id="predication">
    <article>
      <div>
        <span>{{predication.time1}}</span>
        <span>-</span>
        <span>{{predication.manager1.fullname}}</span>
      </div>
      <div>{{predication.place1}}</div>
    </article>

    {% if predication.manager2 %}
    <article>
      <div>
        <span>{{predication.time2}}</span>
        <span>-</span>
        <span>{{predication.manager2.fullname}}</span>
      </div>
      <div>{{predication.place2}}</div>
    </article>
    {% endif %}

    {% if predication.manager3 %}
    <article>
      <div>
        <span>{{predication.time3}}</span>
        <span>-</span>
        <span>{{predication.manager3.fullname}}</span>
      </div>
      <div>{{predication.place3}}</div>
    </article>
    {% endif %}
  </section>

  <a href="{% url 'communication' %}" class="title1">Communications</a>

  <section id="communication">
    <div id="com-content">
      {% for comm in communications %}
      <article>
        <h3>
          <span>{{comm.date}}</span>
          <span>-</span>
          <span>{{comm.title}}</span>
        </h3>

        <div>
          <p>{{comm.content1}}</p>
          {% if comm.content2 %}<a href="{{comm.content2}}" target="_blank">{{comm.content2}}</a>{% endif %}
          {% if comm.content3 %}<p>{{comm.content3}}</p>{% endif %}
        </div>
      </article>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
