{% extends 'vla_django/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/vcm.css' %}" />
{% endblock %}

{% block script_js %}
<script src="{% static 'js/vcm.js' %}"></script>
{% endblock %}

{% block title %}VLA | Réunions{% endblock %}

{% block content %}
<main>
  <section id="week_meeting">
    <h1>Vie chrétienne et Ministère</h1>

    {% for meeting in MEETINGS %}
    <article class="meeting">
      <div class="president">
        <span>{{meeting.date}} | {{meeting.portion}}</span>
        <span>Président : {{meeting.president}}</span>
      </div>

      <div class="song">Cantique N°{{meeting.song1}}</div>

      <div class="prayer">Prière initiale : {{meeting.prayer1}}</div>

      <div class="jewels">
        <span>1. Joyaux (10 min) : {{meeting.jewels_title}}</span>
        <span>{{meeting.jewels}}</span>
      </div>

      <div class="pearls">
        <span>2. Perles spirituelles (10 min)</span>
        <span>{{meeting.pearls}}</span>
      </div>

      <h2>Ecole du Ministère Théocratique</h2>

      <h3>Salle principale</h3>

      <div class="allocution reading1">
        <span>3. Lecture (3 min)</span>
        <span>{{meeting.reading1}}</span>
      </div>

      <div class="allocution allocution1">
        <span
          >4. {{meeting.alloc1_type}} ({{meeting.alloc1_duration]]}} min)</span
        >
        <span>{{meeting.alloc1pupil_hall1}} | {{alloc1inter_hall1}}</span>
      </div>

      <div class="allocution allocution2">
        <span
          >5. {{meeting.alloc2_type}} ({{meeting.alloc2_duration}} min)</span
        >
        <span>{{meeting.alloc2pupil_hall1}} | {{alloc2inter_hall1}}</span>
      </div>

      <div class="allocution allocution3">
        <span>6. Discours ({{meeting.alloc3_duration}} min)</span>
        <span>{{meeting.alloc3pupil_hall1}} | {{alloc3inter_hall1}}</span>
      </div>

      <h3>Salle complémentaire</h3>

      <div class="advisor2">Conseiller : Robert FARRE</div>

      <div class="allocution reading2">
        <span>3. Lecture (3 min)</span>
        <span>{{meeting.reading2}}</span>
      </div>

      <div class="allocution allocution1">
        <span
          >4. {{meeting.alloc1_type}} ({{meeting.alloc1_duration]]}} min)</span
        >
        <span>{{meeting.alloc1pupil_hall2}} | {{alloc1inter_hall2}}</span>
      </div>

      <div class="allocution allocution2">
        <span
          >5. {{meeting.alloc2_type}} ({{meeting.alloc2_duration}} min)</span
        >
        <span>{{meeting.alloc2pupil_hall2}} | {{alloc2inter_hall2}}</span>
      </div>

      <div class="allocution allocution3">
        <span>6. Discours ({{meeting.alloc3_duration}} min)</span>
        <span>{{meeting.alloc3pupil_hall2}} | {{alloc3inter_hall2}}</span>
      </div>

      <h3>Salle C</h3>

      <div class="advisor2">Conseiller : Bruno DI RICO</div>

      <div class="allocution reading2">
        <span>3. Lecture (3 min)</span>
        <span>{{meeting.reading3}}</span>
      </div>

      <div class="allocution allocution1">
        <span
          >4. {{meeting.alloc1_type}} ({{meeting.alloc1_duration]]}} min)</span
        >
        <span>{{meeting.alloc1pupil_hall3}} | {{alloc1inter_hall3}}</span>
      </div>

      <div class="allocution allocution2">
        <span
          >5. {{meeting.alloc2_type}} ({{meeting.alloc2_duration}} min)</span
        >
        <span>{{meeting.alloc2pupil_hall3}} | {{alloc2inter_hall3}}</span>
      </div>

      <div class="allocution allocution3">
        <span>6. Discours ({{meeting.alloc3_duration}} min)</span>
        <span>{{meeting.alloc3pupil_hall3}} | {{alloc3inter_hall3}}</span>
      </div>

      <div class="song">Cantique N°{{meeting.song2}}</div>

      <h2 class="mb1em">Vie Chrétienne</h2>

      <section class="vcm">
        <div>
          <span
            >7. Vie chrétienne ({{meeting.vcm1_duration}} min) :
            {{meeting.vcm1}}</span
          >
          <span>{{meeting.vcm1_title}}</span>
        </div>

        <div>
          <span
            >7. Vie chrétienne ({{meeting.vcm2_duration}} min) :
            {{meeting.vcm2}}</span
          >
          <span>{{meeting.vcm2_title}}</span>
        </div>

        <div>
          <span
            >7. Vie chrétienne ({{meeting.vcm3_duration}} min) :
            {{meeting.vcm3}}</span
          >
          <span>{{meeting.vcm3_title}}</span>
        </div>

        <div class="eba">
          <span>8. Etude biblique de l'assemblée (30 min)</span>
          <span>{{meeting.eba}}</span>
        </div>

        <div>
          <span>Lecteur</span>
          <span>{{meeting.eba_reader}}</span>
        </div>
      </section>

      <div class="song">Cantique N°{{meeting.song3}}</div>

      <div class="prayer">Prière finale : {{meeting.prayer2}}</div>
    </article>
    {% endfor %}

    <article class="welcome">
      <h3>ACCUEIL</h3>

      <div class="parking">
        <span>Parking</span>
        <span>{{meeting.parking}}</span>
      </div>

      <div class="door">
        <span>Entrée</span>
        <span>{{meeting.entrance}}</span>
      </div>

      <div class="inside">
        <span>Auditorium</span>
        <span>{{meeting.inside}}</span>
      </div>
    </article>

    <article class="sono">
      <h3>SONORISATION</h3>

      <div>
        <span>Estrade</span>
        <span>{{meeting.podium}}</span>
      </div>

      <div>
        <span>Audio</span>
        <span>{{meeting.sono1}}</span>
      </div>

      <div>
        <span>Vidéo</span>
        <span>{{meeting.sono2}}</span>
      </div>

      <div>
        <span>Perche 1</span>
        <span>{{meeting.mic1}}</span>
      </div>

      <div>
        <span>Perche 2</span>
        <span>{{meeting.mic1}}</span>
      </div>
    </article>
  </section>

  <section id="weekend_meeting">
    <h1>Réunion du week-end</h1>

    {% for meeting in MEETINGS %}

    {%endfor%}
  </section>
</main>
{% endblock %}
