<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page de test</title>
  </head>

  <body>
    <style>
      * {
        width: 100%;
      }

      main {
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1em;
      }

      h1 {
        padding: 1em 0;
        text-align: center;
        color: #facaac;
        box-shadow: 0 0 #facaac 5px, 0 0 #facaac 10px, 0 0 #facaac 20px,
      }

      div {
        text-align: justify;
        text-indent: 1em;
      }
    </style>

    <main>
      <h1>Page de test</h1>

      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error
        ullam optio excepturi? Commodi ducimus laudantium expedita, inventore
        delectus quas mollitia nisi et veritatis totam quia aliquid ipsa eaque
        repellendus cupiditate voluptate ratione aspernatur officia qui ea
        repudiandae temporibus placeat nam. Velit maiores sint libero blanditiis
        tempora eius odit fuga?
      </div>
    </main>
  </body>
</html>
