{% extends 'vla_django/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/weekend.css' %}" />
{% endblock %}

{% block script_js %}
<script src="{% static 'js/weekend.js' %}"></script>
{% endblock %}

{% block title %}VLA | Réunion de week-end{% endblock %}

{% block content %}

<main>
  {% for meeting in MEETINGS %}
  <article class="meeting">
    <div class="president">
      <span>{{meeting.date}}</span>
      <span>Président : {{meeting.president}}</span>
    </div>
    
    <div class="song">Cantique N°{{meeting.song1}}</div>

    <div class="prayer">Prière initiale : {{meeting.prayer1}}</div>

    <div class="speech">
      <span>{{meeting.speech_title}}</span>
      <span>{{meeting.speaker}}</span>
    </div>

    <div class="song">Cantique N°{{meeting.song2}}</div>

    <div class="watchtower">
      <span>{{meeting.watchtower}}</span>
      <span class="wt_reader">Lecteur : {{meeting.wt_reader}}</span>
    </div>

    <div class="song">Cantique N°{{meeting.song3}}</div>

    <div class="prayer">Prière finale : {{meeting.speaker}}</div>
  </article>
  {% endfor %}

  <article class="welcome">
    <h3>ACCUEIL</h3>

    <div class="parking">
      <span>Parking</span>
      <span>{{meeting.parking}}</span>
    </div>

    <div class="door">
      <span>Entrée</span>
      <span>{{meeting.entrance}}</span>
    </div>

    <div class="inside">
      <span>Auditorium</span>
      <span>{{meeting.inside}}</span>
    </div>
  </article>

  <article class="sono">
    <h3>SONORISATION</h3>

    <div>
      <span>Estrade</span>
      <span>{{meeting.podium}}</span>
    </div>

    <div>
      <span>Audio</span>
      <span>{{meeting.sono1}}</span>
    </div>

    <div>
      <span>Vidéo</span>
      <span>{{meeting.sono2}}</span>
    </div>

    <div>
      <span>Perche 1</span>
      <span>{{meeting.mic1}}</span>
    </div>

    <div>
      <span>Perche 2</span>
      <span>{{meeting.mic1}}</span>
    </div>
  </article>
</main>
{% endblock %}
