{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/new_communication.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/new_communication.js' %}" defer></script>
{% endblock %} {% block title %}VLA | {{title}}{% endblock %} {% block content %}

<main>
  <h1>
    <a href="{% url 'communication' %}"
      ><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"
    /></a>
    <span>
      {% if title %}
      {{title}}
      {% else %}
      Créer une nouvelle communication
      {% endif %}
    </span>
  </h1>

  <form method="POST">
    {% csrf_token %}
    <div>{{ form.date.label_tag }} {{ form.date }}</div>
    <div>{{ form.title.label_tag }} {{ form.title }}</div>
    <div>{{ form.category.label_tag }} {{ form.category }}</div>
    <div>{{ form.content1.label_tag }} {{ form.content1 }}</div>
    <div>{{ form.content2.label_tag }} {{ form.content2 }}</div>
    <div>{{ form.content3.label_tag }} {{ form.content3 }}</div>

    <button type="submit">
      {% if submit_text %}
      {{submit_text}}
      {% else %}
      Enregistrer
      {% endif %}
    </button>
  </form>
</main>

{% endblock %}
