{% extends 'vla_django/base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'style/new_communication.css' %}" />
{% endblock %} {% block script_js %}
<script src="{% static 'js/new_communication.js' %}" defer></script>
{% endblock %} {% block title %}VLA | Nouvelle communication{% endblock %} {% block content %}

<main>
    <h1>
        <a href="{% url 'communication' %}"><img src="{% static 'icons/left_arrow.png' %}" alt="Retour"></a>
        <span>Nouvelle communication</span>
    </h1>


</main>

{% endblock %}
